<h1>Listing events</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <% if event.date.blank? %>
      <td><%= event.tbd_info %></td>
    <% else %>
      <td><%= event.date %></td>
    <% end %>
    <td><%= link_to event.name, event.url, target: "_blank" %></td>
    <td><%= event.distance %> <%= event.measure %></td>
    <td><%= link_to 'Show', event %></td>
    <% if user_signed_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
