<h1>Envy Labs Running Series</h1>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr <%= "class=bonus" if event.bonus? %>>
    <% if event.date.blank? %>
      <td><%= event.tbd_info %></td>
    <% else %>
      <td><%= link_to event.date, event_path(event) %>
      <%= "*" if event.tentative? %></td>
    <% end %>
    <td><%= link_to event.name, event.url, target: "_blank" %></td>
    <td><%= event.distance %> <%= event.measure %></td>
    <% if user_signed_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<p class="bonus">
Events in teal are "bonus events"- not exactly a road race. Obstacles, mud, or other
unusual elements may be present, so we're not counting them among our race series-
just an interesting event worth thinking about adding to your schedule.
</p>
<p>*Tentative</p>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
