<p id="notice"><%= notice %></p>

<h2>
  <%= @event.name %>
</h2>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Distance:</b>
  <%= @event.distance %> <%= @event.measure %>
</p>

<p>
  <b>Early price:</b>
  $<%= @event.early_price %>
</p>

<p>
  <b>Early Registration Deadline:</b>
  <%= @event.early_date %>
</p>


<p>
  <b>Regular price:</b>
  $<%= @event.regular_price %>
</p>

<p>
  <b>Regular Entry Deadline:</b>
  <%= @event.regular_date %>
</p>

<p>
  <b>Late Registration Price:</b>
  $<%= @event.late_price %>
</p>



<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
<% if user_signed_in? %>  
  <br />
  <% if current_user.events.include?(@event) %>
    <%= link_to "I'm Not Going", result_path(@event.result(current_user)), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% elsif @event.date < 30.days.from_now.to_date %>
    <%= form_for @result do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.submit 'Add to My Events', class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
  
